body {
  background-color: #f4f5f6;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



